canvas {
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: block;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
#toolbar {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
    z-index: 10;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    background: rgba(0, 0, 0, 0);
}
button {
    cursor: pointer;
    background-color:  #E5F4E3;
    border: 2px solid  #E5F4E3;
    padding: 5px 5px;
    font-size: x-large;
    border-radius: 10px;
}
a{
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    z-index: 10;
    font-size: x-large;
    text-decoration: none;
}
